[Unit]
Description= API Consultation
After=network.target

[Service]
User={{ user }}
Group=www-data
WorkingDirectory=/home/{{ user }}/{{ domain }}/
Environment="PATH=/home/{{ user }}/{{ domain }}/quchempedia-venv/bin"
ExecStart=/home/{{ user }}/{{ domain }}/quchempedia-venv/bin/gunicorn --workers 3 --bind unix:{{ api_consultation }}.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
