server {
    listen 80;
    server_name www.{{ domain }};

    error_log /home/{{ user }}/logs/error_log;
    access_log /home/{{ user }}/logs/access_log;

    location ~ /\. {
        deny all;
        access_log off;
        log_not_found off;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/{{ user }}/{{ domain }}/{{ api_consultation }}.sock;
    }
}
